@{
    ViewData["Title"] = "Contactos";
}

<div class="row mt-5 pt-5">
    <h1>@ViewData["Title"]</h1>

    <p>Contacte-nos para:</p>
    <p>info@rental4you.pt</p>
    <p>Telefone: 232123321</p>
    <p>Telemóvel: 968123123</p>
    <p>Rua da Rental4You, 30</p>
    <p>3900-111 Coimbra</p>
</div>